*{
  margin: 0;
  padding: 0;
}

.ListBox{
  padding-top: 50px;

  h1{
    text-align: center;
    margin-bottom: 20px;
  }

}

.ListForm{
  margin-bottom: 20px;
  div{
    width: 300px;
    margin: 0 auto 10px;
    input{
      display: block;
      width: 100%;
      line-height: 30px;
      outline: none;
      border: none;
      border-bottom: 1px dashed #ccc;
      font-size: 16px;
    }
    textarea{
      border: none;
      width: 100%;
      outline: none;
      font-size: 16px;
      border-bottom: 1px dashed #ccc;
      height: 100px;
    }
  }
  .submit-btn{
    display: block;
    width: 200px;
    line-height: 35px;
    border: none;
    margin: 20px auto;
    outline: none;
    background-color: #77d277;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    &:hover{
      background-color: #57a057;
    }
  }
}


.todoWrap{
  width: 300px;
  margin: 0 auto;
  .todo{
    border-bottom: 1px dashed #ccc;
    margin-bottom: 15px;
    padding-bottom: 5px;
    position: relative;
    .delete{
      color: red;
      position: absolute;
      right: 0;
      top: 5px;
      cursor: pointer;
      width: 25px;
      line-height: 25px;
      text-align: center;
      &:hover{
        background-color: #eee;
      }
    }
  }
  p,h1,h2,h3,h4,h5,h6,ul,li{
    text-align: center;
  }
}
